/* body */
    
    :root {
        --primary-bg: #1F1F1F;       /* Deep Charcoal */
      --secondary-bg: #121212;     /* Slightly darker black */
      --accent: #C9A227;           /* Gold (attention/call to action) */
      --text-primary: #E0E0E0;     /* Main readable text */
      --text-secondary: #A0A0A0;   /* Less important text */
      --button-hover: #FFB84D;     /* Light orange for hover effect */
      --link: #4AA9FF;             /* Sky blue for links */
      --link-hover: #2C82E0;       /* Darker blue when hovered */
      --border: #333333;           /* For lines/dividers */
    }
    
    * {
      margin: 0;
      padding: 0;
      font-family: 'segoe UI', sans-serif;
    }
    
    body {
      background: var(--primary-bg);
      padding-top: 60px;
      box-sizing: border-box;
      scroll-behaviour: smoothly;
    }
    
    .bob {
      color: white;
      cursor: pointer;
    }
    
    /* navbar */
    
    header {
      display: flex;
      padding: 0.8rem 1rem;
      margin-right: 1rem;
      background: var(--secondary-bg);
      color: white;
      height:60px;
      position: fixed;
      box-sizing: border-box;
      top: 0;
      left: 0;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      z-index: 999;
      cursor: pointer;
      padding: 10px;
      flex-wrap: wrap;
    }
    
    .search {
      padding: 0.5rem;
      width: 140px;
      border: none;
      border-radius: 9px;
      cursor: pointer
    }
    
    
    .togglemenu {
      display: none;
    }
    
    .togglemenu:hover {
      background: #var(--button-hover);
    }
    
    .nav-links {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      cursor: pointer;
    }
    
    .MegaTech {
      font-size: 0.7rem;
      font-weight; bold;
      display: flex;
      text-align: left;
      color: white;
      justify-content: space-between;
      margin-bottom: 0rem;
      border-radius: 10px;
      pointer: cursor;
    }
    
    a {
      color: var(--link);
      text-decoration: none;
      font-size: 0.8rem;
      padding: 0.5rem 1rem;
      border: 1px solid var(--border);
      display: inline-block;
      cursor: pointer;
    }
    
    a:hover {
      background: var(--link-hover);
    }
  
    
    /* sections */
    
    section {
      padding: 2rem;
      min-height: 100vh;
      max-width: 1200px;
      border: 1px solid white;
      margin: auto;
      transition: background 0.4s ease
    }
    
    .togglemenu {
      display: none;
    }
    
    h2 {
      margin-bottom: 1.2rem;
      font-size: 2rem;
      text-decoration: underline;
      color: var(--text-primary);
    }
    
    .faq-item {
      background: var(--secondary-bg);
      border: 1px var(--border);
      border-radius: 8px;
      margin-bottom: 1rem;
      overflow: hidden;
      cursor: pointer;
    }
    
    .faq-question {
      padding: 1rem;
      cursor: pointer;
      position: relative;
      font-weight: bold;
      color: var(--text-primary);
    }
    
    .faq-question::after {
      content: '\25BC';
      position: absolute;
      right: 20px;
      transition: transform 0.3s ease;
    }
    .faq-question.active::after {
      transform: rotate(180deg);
    }
    
    .faq-answers {
      max-height: 0;
      overflow: hidden;
      color: var(--text-primary);
      padding: 0 1rem;
      transition: all 0.3s ease;
      background: var(--secondary-bg);
      cursor: pointer;
    }
    
    .faq-answers.open {
      padding: 1rem;
      max-height: none;
      cursor: pointer;
    }
    
    .btn {
      padding: 0.8rem;
      border-radius: 7px;
      background: var(--accent);
      color: var(--text-primary);
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: bold;
      border: none;
    }
    
    .btn:hover {
      background-color: var(--button-hover);
    }
    
    
    .form-container {
      padding: 1rem;
      margin: 1rem;
      border-radius: 8px;
    }
    
    form input, textarea {
      width: 100%;
      padding: 0.8rem;
      margin: 0.6rem 0;
      box-sizing: border-box;
      border-radius: 19px;
    }
    
    .form-container {
      width: 90%;
      margin: 2rem auto;
      padding: 2rem;
      background: var(--secondary-bg);
      box-size: border-box;
      border-radius: 8px;
      box-shadow: 0 0 15px rgba(0,0,0,0.9);
    }
    
    form h2 {
      text-align: center;
      color: var(--text-primary);
      margin-bottom: 1rem;
    }
    
    form button {
      margin-top: 1.5rem;
      color: white;
      background: var(--accent);
      text-align: center;
      width: 100%;
      padding: 0.8rem;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 19px;
      cursor: pointer;
    }
    
    form button:hover {
      background: #var(--button-hover);
    }
    
    h3 {
      margin-bottom: 1.3rem;
      margin-top: 1rem;
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--text-primary);
    }
    
    p {
      justify-content: space-between;
      color: var(--text-primary);
      margin-bottom: 0.4rem;
    }
    
    ol, ul li {
      font-weight: bold;
      padding: 0.5rem;
      color: var(--text-primary);
    }
    
    .member {
      height: 400px;
      width: 400px;
      padding: 0.3rem;
      background: var(--secondary-bg);
      border-radius: 8px;
      cursor: pointer;
    }
    
    .member:hover {
    background: var(--button-hover);
    }
    
    .explore {
      display: none;
    }
    
    footer {
      background: var(--secondary-bg);
      padding: 1rem;
      margin-top: 2rem;
      text-align: center;
    }
    
    .gadget-container {
      position: relative;
    }
    
    .gadget-links {
      display: block;
      color: white;
      text-decoration: none;
    }
    
    .gadget-submenu {
      position: absolute;
      top: 100%; /* places submenu directly below the link */
      display: none;
      padding: 10px;
      background: var(--secondary-bg);
      font-size: 14px;
      border-radius: 4px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      z-index: 999;
    }
    
    .gadget-submenu li{
      list-style: none;
      margin: 5px 0;
    }
    
    .gadget-submenu li a {
      display: flex;
    }
    
    .gadget-submenu li a:hover {
      background: var(--link-hover);
    }
    
    .standard {
      padding: 0.6rem 1rem;
      margin-top: 0.7rem;
      margin: 0.8: auto;
      box-shadow: 0 2px 5px rgba(0,0,0,0.9);
      color: var(--text-primary);
    }
    
    @media (max-width: 768px) {
      .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        min-width: 250px;
        height: 100vh;
        border-radius: 9px;
        opacity: 100%;
        z-index: 1000
        background: rgba(255, 255, 255, 0.2); /* semi-transparent white */
      backdrop-filter: blur(10px);
  background-color: rgba(18, 18, 18, 0.8); /* Secondary background with transparency */
      -webkit-backdrop-filter: blur(10px);  /* Safari support */
      border-right: 1px solid rgba(255, 255, 255, 0.3); /* optional: subtle border */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* optional: subtle shadow */
      }
      
      
       .nav-links {
        height: calc(100vh - 60px); /*Adjust for fixed header */
       overflow-y: auto;           /* Allows scrolling */
      }
      
      .form-container {
        width: 250px;
        height: auto;
      }
      
      .MegaTech {
        font-size: 0.9rem;
        font-weight: bold;
        display: flex;
        color: white;
        border-radius: 10px;
      }
      
      .search {
        padding: 0.4rem;
        width: 150px;
      }
      
      
      nav {
        margin-top: -0.5rem;
        displ
        flex-wrap: wrap;
        gap: 10px;
      }
      
      header {
        display: flex;
        padding: 0.8rem;
        background: var(--secondary-bg);
        color: white;
        position: fixed;
        height: 60px;
        top: 0;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        z-index: 999;
      }
      
      .nav-links.active {
        display: flex;
      }
      
      
      .nav-links a i {
        margin-left: 10px;
      }
      
      .nav-links a  {
        display: block;
        padding: 1rem;
        color: var(--link);
        font-size: 0.8rem;
        font-weight: bold;
        background: var(--secondary-bg);
      }
      
      .explore {
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        display: block;
        padding: 0.2rem;
        background: white;
        border-radius: 19px;
        color: var(--secondary-bg);
      }
      
      .nav-links a:hover {
        background: var(--link-hover);
      }
      
      .togglemenu {
        display: flex;
        font-weight: bold;
      }
    }